extends layout

block content
  h1= title
  p Welcome to #{title}
  html
  body
    li
    a(href='/fstatus') Feature Status

    li
    a(href='/fon') Turn it on.
    li
    a(href='/foff') Turn it off.
    li
    a(href='/') home

  
